{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Pong</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
</head>
<body>
<div id="player score"></div><div id="">player score</div>
<div id="ai score"></div><div id="">ai score</div>
    <h1>Welcome to my version of Pong!!</h1>
    <p>This is the first game I wrote. I hope you like it.</p>
    
    <h2>Directions</h2>
    <p>Its super simple. use the up and down arrow to move your paddle.</br>
    Good luck</p>

    <form method="post">
    {%  csrf_token %}
    <input name="username" placeholder="username">
    <input name="password" placeholder="password" type="password">
    <input type="submit" value="Login">

</form>

    <form method="post">
    {%  csrf_token %}
    <input name="username" placeholder="username">
    <input name="password" placeholder="password" type="password">
    <input type="submit" value="Register">

<script src="{% static "js/game.js" %}"></script>


</body>
</html>